APP_ENV=production
APP_DEBUG=true
DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_NAME=development_db
DB_USER=senac
DB_PASSWORD=senac
TZ=America/Porto_Velho

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=senac
REDIS_DATABASE=1
REDIS_PREFIX=SESS:
REDIS_TIMEOUT=2.5
REDIS_READ_TIMEOUT=2.5
REDIS_PERSISTENT=1

GOOGLE_CLIENT_ID=346079394633-hd72jdjgaurl4poo0os8d1a374aojm0v.apps.googleusercontent.com

OPCACHE_VALIDATE_TIMESTAMPS=1
XDEBUG_MODE=off