<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{icon}}" sizes="any">
    <title>{{titulo}}</title>
    {{ vite('resources/css/app.css') }}
    {% block css %}{% endblock %}
</head>

<body>
    {% include 'partial/head.html' %}
    <main class="container-fluid">
        <div class="row m-3 g-3">
            <div class="col-sm-6">
                <h3 class="mb-0">{{titulo}}</h3>
            </div>
            <div class="col-sm-6">
                {% block breadcrumbs %}

                {% endblock %}
            </div>
        </div>
        <div class="row m-3 g-3">
            {% block main %}
            {% endblock %}
        </div>
    </main>
    {{ vite('resources/js/app.js') }}
    {% block script %}{% endblock %}
</body>

</html>