<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ vite('resources/css/app.css') }}
    <title>Document</title>
</head>

<body>
    <form id="form">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="card mt-3" style="width: 35rem;">
                        <div class="card-header">
                            Autenticação do sistema
                        </div>
                        <div class="card-body">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="login" name="login"
                                    placeholder="name@example.com" autofocus>
                                <label for="login">Login, CPF ou Telefone ou E-mail</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="senha" name="senha"
                                    placeholder="name@example.com">
                                <label for="senha">Informe sua senha</label>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button id="login" type="button" class="btn btn-success">
                                Login
                            </button>
                            <button id="loginGoogle" type="button" class="btn btn-primary">
                                Login com Google
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {{ vite('resources/js/app.js') }}
</body>

</html>