<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ vite('resources/css/app.css') }}
    <title>Document</title>
</head>

<body>
    <form id="form">
        <div class="modal fade" id="modalPreRegisterUser" data-bs-backdrop="static" data-bs-keyboard="false"
            tabindex="-1" aria-labelledby="modalPreRegisterUserLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalPreRegisterUserLabel">Pré-cadastro de usuário</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input type="text" id="nome" name="nome" class="form-control"
                                        placeholder="name@example.com" required>
                                    <label for="nome">Digite seu primeiro nome *</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input type="text" id="sobrenome" name="sobrenome" class="form-control"
                                        placeholder="name@example.com" required>
                                    <label for="sobrenome">Digite seu sobrenome *</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input type="text" id="cpf" name="cpf" class="form-control"
                                        placeholder="name@example.com" required>
                                    <label for="cpf">Digite seu CPF *</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input type="text" id="rg" name="rg" class="form-control"
                                        placeholder="name@example.com">
                                    <label for="rg">Digite seu RG</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input type="tel" id="telefone" name="telefone" class="form-control"
                                        placeholder="name@example.com">
                                    <label for="telefone">Digite seu telefone</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input type="email" id="email" name="email" class="form-control"
                                        placeholder="name@example.com">
                                    <label for="email">Digite seu E-mail</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input type="password" id="senha" name="senha" class="form-control"
                                        placeholder="name@example.com">
                                    <label for="senha">Digite sua senha</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="buttonPreRegister" class="btn btn-outline-success">
                            Salvar
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="card mt-3">
                        <div class="card-header">
                            Autenticação do sistema
                        </div>
                        <div class="card-body">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="login" name="login"
                                    placeholder="name@example.com" autofocus required>
                                <label for="login">Login, CPF ou Telefone ou E-mail *</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="senha" name="senha"
                                    placeholder="name@example.com" required>
                                <label for="senha">Informe sua senha *</label>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    Ainda não tenho conta faça aqui seu:
                                    <button type="button" class="btn btn-link" id="mdPreRegister">
                                        Pré-cadastro
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-success" id="buttonLogin">
                                Login
                            </button>
                            <button id="loginGoogle" type="button" class="btn btn-primary">
                                Login com Google
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {{ vite('resources/js/app.js') }}
    {{ vite('resources/js/pages/login.js') }}
</body>

</html>